<%- include("partials/header") %>

<hr class="divider">

<% if (queryResults == undefined || queryResults == null) { %>
  <h1>No items present in DB.</h1>
<% } else { %>
  <% queryResults.forEach(function(item){ %>
    <% let count = 1; %>
    <hr class="divider">
    <h3> <%= item.itemName %> </h3>
    <% if (!item.distributionOrder[0]){ %>
      <h5>No players in distribution order -- item is up for free rolls.</h5>
    <% } else { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Player</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <% item.distributionOrder.forEach(function(user){ %>
            <tr>
              <th scope="row"><%= count %></th>
              <td><%= user.username %></td>
              <td><%= user.value %></td>
            </tr>
            <% count++ %>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  <% }); %>
<% } %>

<%- include("partials/footer") %>
